@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@model IEnumerable<WebBanNoiThat.Models.SanPham> 
@{
    ViewData["Title"] = "Home Page";
    var spBanChay =  Model.Where(x => x.BestSeller == true);
}

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">

                @foreach (var item in spBanChay)
               {
                   <!-- Single Catagory -->
                <div class="single-products-catagory clearfix">
                    <a asp-action="Details" asp-controller="SanPham" asp-route-id="@item.MaSp">
                        <img src="@item.AnhSp" alt="">
                        <!-- Hover Content -->
                        <div class="hover-content">
                            <div class="line"></div>
                            <p>@item.GiaSp.ToString("#,00") VNĐ</p>
                            <h4>@item.TenSp</h4>
                        </div>
                    </a>
                </div>
               }
                

            </div>
        </div>
        <!-- Product Catagories Area End -->
    
    <!-- ##### Main Content Wrapper End ##### -->
