@model WebBanNoiThat.Models.DanhMucSp

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Xóa Danh Mục</h1>

<div>
    <hr />
    <dl class="row">
         <dt class = "col-sm-2">
            Tên Danh Mục
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDm)
        </dd>
        <dt class = "col-sm-2">
            Ảnh:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDm)
        </dd>
        <dt class = "col-sm-2">
           Mô Tả:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaDm)
        </dd>
        <dt class = "col-sm-2">
            Trạng Thái:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaDm" />
        <input type="submit" value="Delete" class="btn btn-danger" /> <br />
        <a asp-action="Index">Quay Lại</a>
    </form>
</div>
