@model WebBanNoiThat.Models.SanPham

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Sửa Thông Tin</h1>

<h4>Sản Phẩm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" style="margin-left:30px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaSp" />
            <div class="form-group">
                <label asp-for="MaDm" class="control-label">Chọn danh mục</label>
                <select asp-for="MaDm" class="form-control" asp-items="ViewBag.MaDm" style="background:#fff;"></select>
                <span asp-validation-for="MaDm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSp" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSp" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="TenSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhSp" class="control-label">Ảnh sản phẩm</label>
                <input asp-for="AnhSp" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="AnhSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VideoSp" class="control-label">Video sản phẩm</label>
                <input asp-for="VideoSp" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="VideoSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaSp" class="control-label">Giá</label>
                <input asp-for="GiaSp" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="GiaSp" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="TrangThai" /> Hiển Thị
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BestSeller" /> Bán Chạy
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label">Ngày tạo</label>
                <input asp-for="CreateDate" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotaSp" class="control-label">Mô tả sản phẩm</label>
                <input asp-for="MotaSp" class="form-control" style="background:#fff;"/>
                <span asp-validation-for="MotaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

