@{
    ViewData["Title"] = "Trang tổng quan";
}

<div class="content-wrapper pb-0">

    <!-- table row starts here -->
    <div class="row">
        <div class="col-xl-4 grid-margin">
            <h1>Trang Quản Trị</h1>
        </div>
    </div>
</div>
